In [1]:
import pandas as pd
# Считывание данных
hotels = pd.read_csv('data/hotels.csv')
# Вывод первых нескольких строк
hotels.head()

,hotel_address,additional_number_of_scoring,review_date,average_score,hotel_name,reviewer_nationality,negative_review,review_total_negative_word_counts,total_number_of_reviews,positive_review,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,reviewer_score,tags,days_since_review,lat,lng
0,Stratton Street Mayfair Westminster Borough Lo...,581,2/19/2016,8.4,The May Fair Hotel,United Kingdom,Leaving,3,1994,Staff were amazing,4,7,10.0,"[' Leisure trip ', ' Couple ', ' Studio Suite ...",531 day,51.507894,-0.143671
1,130 134 Southampton Row Camden London WC1B 5AF...,299,1/12/2017,8.3,Mercure London Bloomsbury Hotel,United Kingdom,poor breakfast,3,1361,location,2,14,6.3,"[' Business trip ', ' Couple ', ' Standard Dou...",203 day,51.521009,-0.123097
2,151 bis Rue de Rennes 6th arr 75006 Paris France,32,10/18/2016,8.9,Legend Saint Germain by Elegancia,China,No kettle in room,6,406,No Positive,0,14,7.5,"[' Leisure trip ', ' Solo traveler ', ' Modern...",289 day,48.845377,2.325643
3,216 Avenue Jean Jaures 19th arr 75019 Paris Fr...,34,9/22/2015,7.5,Mercure Paris 19 Philharmonie La Villette,United Kingdom,No Negative,0,607,Friendly staff quiet comfortable room spotles...,11,8,10.0,"[' Leisure trip ', ' Solo traveler ', ' Standa...",681 day,48.888697,2.394540
4,Molenwerf 1 1014 AG Amsterdam Netherlands,914,3/5/2016,8.5,Golden Tulip Amsterdam West,Poland,Torn sheets,4,7586,The staff was very friendly and helpful Break...,20,10,9.6,"[' Business trip ', ' Couple ', ' Standard Dou...",516 day,52.385601,4.847060

In [2]:
# Создание копии датасета
data = hotels.copy()
# Вывод информации о пропусках
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386803 entries, 0 to 386802
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               386803 non-null  object
 1   additional_number_of_scoring                386803 non-null  int64
 2   review_date                                 386803 non-null  object
 3   average_score                               386803 non-null  float64
 4   hotel_name                                  386803 non-null  object
 5   reviewer_nationality                        386803 non-null  object
 6   negative_review                             386803 non-null  object
 7   review_total_negative_word_counts           386803 non-null  int64
 8   total_number_of_reviews                     386803 non-null  int64
 9   positive_review                             386803 non-null  object
 10  review_total_positive_word_counts           386803 non-null  int64
 11  total_number_of_reviews_reviewer_has_given  386803 non-null  int64
 12  reviewer_score                              386803 non-null  float64
 13  tags                                        386803 non-null  object
 14  days_since_review                           386803 non-null  object
 15  lat                                         384355 non-null  float64
 16  lng                                         384355 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 50.2+ MB

In [3]:
# Вывод типа данных каждого столбца
data.dtypes

hotel_address                                  object
additional_number_of_scoring                    int64
review_date                                    object
average_score                                 float64
hotel_name                                     object
reviewer_nationality                           object
negative_review                                object
review_total_negative_word_counts               int64
total_number_of_reviews                         int64
positive_review                                object
review_total_positive_word_counts               int64
total_number_of_reviews_reviewer_has_given      int64
reviewer_score                                float64
tags                                           object
days_since_review                              object
lat                                           float64
lng                                           float64
dtype: object

In [4]:
# Разбиваем датафрейм на части, необходимые для обучения и тестирования модели  
# Х — данные с информацией об отелях, у — целевая переменная (рейтинги отелей) 
X = data.drop(['reviewer_score'], axis = 1)  
y = data['reviewer_score']
# Загружаем специальный инструмент для разбивки:  
from sklearn.model_selection import train_test_split  
# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.  
# Для тестирования мы будем использовать 25% от исходного датасета.  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [5]:
# Импортируем необходимые библиотеки:  
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели  
from sklearn import metrics # инструменты для оценки точности модели  
# Создаём модель  
regr = RandomForestRegressor(n_estimators=100)
# Учет только численных данных
X_train = X_train.select_dtypes(include=['int64', 'float64'])
X_test = X_test.select_dtypes(include=['int64', 'float64'])
# Обучаем модель на тестовом наборе данных  
regr.fit(X_train, y_train) 
# Используем обученную модель для предсказания рейтинга отелей в тестовой выборке.  
# Предсказанные значения записываем в переменную y_pred  
y_pred = regr.predict(X_test)

In [6]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они отличаются  
# Метрика называется Mean Absolute Percentage Error (MAPE) и показывает среднюю абсолютную процентную ошибку предсказанных значений от фактических.  
print('MAPE:', metrics.mean_absolute_percentage_error(y_test, y_pred))

MAPE: 0.1413678461855926

Далее стоит задача повышения точности прогнозов. Нужно подготовить данные

## 1. Работа со строковыми значениями

In [7]:
# Вывод столбцов, содержащих строковые значения
data_columns_obj = data.select_dtypes(include=['object']).columns.to_list()
data_columns_obj

['hotel_address',
 'review_date',
 'hotel_name',
 'reviewer_nationality',
 'negative_review',
 'positive_review',
 'tags',
 'days_since_review']

### 1.1 Адрес отеля

In [8]:
data['hotel_address'].head(2)

0    Stratton Street Mayfair Westminster Borough Lo...
1    130 134 Southampton Row Camden London WC1B 5AF...
Name: hotel_address, dtype: object

In [9]:
data['hotel_address'].value_counts()

hotel_address
163 Marsh Wall Docklands Tower Hamlets London E14 9SJ United Kingdom              3587
372 Strand Westminster Borough London WC2R 0JJ United Kingdom                     3206
Westminster Bridge Road Lambeth London SE1 7UT United Kingdom                     3095
Scarsdale Place Kensington Kensington and Chelsea London W8 5SY United Kingdom    2688
7 Pepys Street City of London London EC3N 4AF United Kingdom                      2379
                                                                                  ...
Via Palmanova 153 20132 Milan Italy                                                  7
40 Rue Rene Boulanger 10th arr 75010 Paris France                                    7
Via M Buonarroti 13 Fiera Milano City 20149 Milan Italy                              6
Johann Staud Stra e 32 16 Ottakring 1160 Vienna Austria                              6
13 Rue Fran ois Ory 92120 Paris France                                               5
Name: count, Length: 1493, dtype: int64

Столбцы содержат название города и страны расположения отеля, их можно излвечь с помощью регулярных выражений

In [ ]:
# Импорт бибилиотеки для работы с регулрными выражениями
import re
# Регулярное выражение для поиска сочетаний слов в конце строки
regular_form = r'([A-Z][a-z]+(?: [A-Z][a-z]+)*)$'
data['city_country'] = data['hotel_address'].apply(lambda x: re.search(regular_form, x).group())

In [11]:
# Вычленияем страну
data['country'] = data['city_country'].apply(lambda x: x if x == 'United Kingdom' else x.split()[1])
# Поиск города
data['city'] = data['city_country'].apply(lambda x: 'London' if x == 'United Kingdom' else x.split()[0])
# Удаление старого признака
data = data.drop(['city_country'], axis=1)

### 1.2 Дата

In [12]:
data['review_date'].head(2)

0    2/19/2016
1    1/12/2017
Name: review_date, dtype: object

Можно использовать для извлечения дня, месяца или года

In [13]:
# Пребобразование в формат datetime - удобно извлекать
data['review_date'] = pd.to_datetime(data['review_date'])

### 1.3 Название отеля

In [14]:
data['hotel_name'].head(2)

0                 The May Fair Hotel
1    Mercure London Bloomsbury Hotel
Name: hotel_name, dtype: object

Можно использовать как наблюдение за самым распространенным в списке отелем. Но для модели создавать численный признак из этого затратно\
Поэтому из названия предлагается вытащить принадлежность отеля к какой-либо категории

In [15]:
data['hotel_name'].value_counts()

hotel_name
Britannia International Hotel Canary Wharf           3587
Strand Palace Hotel                                  3206
Park Plaza Westminster Bridge London                 3095
Copthorne Tara Hotel London Kensington               2688
DoubleTree by Hilton Hotel London Tower of London    2379
                                                     ...
Ibis Styles Milano Palmanova                            7
Renaissance Paris Republique Hotel Spa                  7
Hotel Wagner                                            6
Hotel Gallitzinberg                                     6
Mercure Paris Porte d Orleans                           5
Name: count, Length: 1492, dtype: int64

In [ ]:
# Извлечение сетевых брендов
data['brand'] = data['hotel_name'].str.extract(r'(Hilton|Marriott|Ibis|Mercure|Renaissance|DoubleTree|Britannia|Park Plaza|Copthorne)')
# Статистика по брендам
brand_stats = data['brand'].value_counts()

In [24]:
# Создание списков слов-индикаторов для оценки уровня отеля
luxury_keywords = ['Plaza', 'Palace', 'Royal', 'Boutique']
business_keywords = ['Hilton', 'Marriott', 'DoubleTree']
budget_keywords = ['Ibis', 'Travelodge']
# Классификация
data['class'] = 'other'
data.loc[data['hotel_name'].str.contains('|'.join(luxury_keywords)), 'class'] = 'luxury'
data.loc[data['hotel_name'].str.contains('|'.join(business_keywords)), 'class'] = 'business'
data.loc[data['hotel_name'].str.contains('|'.join(budget_keywords)), 'class'] = 'budget'

In [25]:
# Наличие терминов Spa
data['has_spa'] = data['hotel_name'].str.contains('Spa').astype(int)
# Количество слов
data['word_count'] = data['hotel_name'].str.split().str.len()
# Извлечение типа заведения
hotel_types = ['Hotel', 'Resort', 'Inn', 'Suites', 'Lodge']
data['type'] = data['hotel_name'].str.extract(f'({"|".join(hotel_types)})')[0]

### 1.4 Национальность рецензента

In [16]:
data['reviewer_nationality'].head(2)

0     United Kingdom
1     United Kingdom
Name: reviewer_nationality, dtype: object

In [27]:
# Извлечение страны
data['reviewer_country'] = data['reviewer_nationality'].str.strip()
# Группировка по регионам (пример)
europe = ['United Kingdom', 'France', 'Germany', 'Spain', 'Italy']
asia = ['China', 'Japan', 'India', 'United Arab Emirates']
data['reviewer_region'] = data['reviewer_nationality'].apply(
    lambda x: 'Europe' if x in europe else ('Asia' if x in asia else 'Other')
)
# Гость из той же страны, что и отель
data['is_local'] = (data['reviewer_nationality'] == data['country']).astype(int)

### 1.5 Негативная оценка

In [17]:
data['negative_review'].head(2)

0           Leaving
1     poor breakfast
Name: negative_review, dtype: object

In [28]:
# Словарь часто распространенных проблем
issues = {
    'cleanliness': ['dirty', 'clean', 'smell', 'stains'],
    'service': ['staff', 'rude', 'service', 'wait'],
    'amenities': ['WiFi', 'breakfast', 'bed', 'shower']
}
# Проверка на наличие проблемы из каждой категории в отзыве
for category, keywords in issues.items():
    data[f'issue_{category}'] = data['negative_review'].str.contains('|'.join(keywords), case=False).astype(int)

In [18]:
data['positive_review'].head(2)

0     Staff were amazing
1               location
Name: positive_review, dtype: object

In [19]:
data['tags'].head(2)

0    [' Leisure trip ', ' Couple ', ' Studio Suite ...
1    [' Business trip ', ' Couple ', ' Standard Dou...
Name: tags, dtype: object

In [20]:
data['days_since_review'].head(2)

0    531 day
1    203 day
Name: days_since_review, dtype: object

## 2. Работа с пропусками в данных

## 3. Создание новых признаков

## 4. Преборазование признаков

## 5. Отбор признаков